
<h2><%= post.title  %></h2>

<% for (let image of images) {%> 
    <img src="<%= image.image_url  %>" alt="">
<%}%>


<form action="/posts/<%=post.id%>?_method=delete" method="post">
    <button>delete</button>
</form>

<a href="/posts/<%=post.id%>/edit">Edit</a>

<form action="/posts/<%=post.id%>/images" method="post">
    <label for="images"></label>
    <input type="file" name="images">
   
    <button>submit image(s)</button>
</form>

<form action="/comments" method="post">
    <label for="comment"></label>
    <textarea name="content"></textarea>
    <input type="hidden" name="post_id" value ="<%= post.id%>">
    <button>post</button>
</form>

<% for (let comment of comments)  { %>
    <p><%= comment.content  %></p>
    <p> <%= comment.email %></p>
    <hr> <!--horizontal rule (divides sections with lines)-->
    <% } %>